.botoes {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.btn {
    line-height: 1.5;
    background-color: var(--cor-2);
    border: 2px solid var(--cor-3);
    padding: 5px 30px;
    display: inline-block;
    border-radius: 30px;
    color: var(--cor--1);
    font-weight: 500;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--cor-2);
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover:before {
    width: 100%;
}

.btn:hover {
    color: var(--cor-2);
}
